<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunter</title>
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
    <footer>
        <div class="footer-menu">
            <a href="contents">추천 콘텐츠</a>
            <a href="help">고객센터</a>
        </div>

        <div class="horizontal-line"></div> 

        <div class="footer-info">
            <p>HounseHunter</p>
            <p>서울시 서초구 서초대로 123 **빌딩</p>
            <p>고객센터 1234-1234 (평일 09:00 - 18:00 / 주말 공휴일 휴무)</p>
        </div>
    </footer>

</body>
</html>
