<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunter</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
    <header>
        <h1 class="logo">
            <a href="/"><img src="/image/househunter_logo.png" alt="HouseHunter Logo"></a>
        </h1>
        <div class="nav">
            <ul>
                <li><a href="/like">관심목록</a></li>
                <li><a href="/map">지도</a></li>
                <li><a class="mypage-button" href="/mypage">마이페이지</a></li>
            </ul>
            <button class="login-button">로그인</button>
            <span class="user-name" style="display: none;"></span>
        </div>
    </header>

    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            const loginButton = document.querySelector('.login-button');
            const userNameDisplay = document.querySelector('.user-name');
            const mypageButton = document.querySelector('.mypage-button');

            async function updateUI() {
                try {
                    const response = await fetch('/check-login');
                    const userData = await response.json();

                    if (userData.isLoggedIn) {
                        loginButton.style.display = 'none'; 
                        userNameDisplay.textContent = userData.userName; 
                        userNameDisplay.style.display = 'inline-block';
                        mypageButton.href = '/mypage';
                    } else {
                        loginButton.style.display = 'inline-block'; 
                        userNameDisplay.style.display = 'none'; 
                        mypageButton.href = '/login';
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            }


            loginButton.addEventListener('click', function() {
                checkLogin(); 
            });

            await updateUI(); 
        });

        async function checkLogin() {
            try {
                const response = await fetch('/check-login');
                const data = await response.json();

                if (data.isLoggedIn) {
                    window.location.href = '/mypage';
                } else {
                    window.location.href = '/login';
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }


    </script>
    
</body>
</html>
