<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunter Help</title>
    <link rel="stylesheet" href="/stylesheets/help.css">
    <script>
        function loadHeader() {
            fetch('/header') 
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-container').innerHTML = data;
                    updateUI();
                })
                .catch(error => console.error('Error:', error));

            document.getElementById('login-button').addEventListener('click', loginUser);
        }

        window.onload = loadHeader;

        async function updateUI() {
            try {
                const response = await fetch('/check-login');
                const userData = await response.json();
                const userNameDisplay = document.querySelector('.user-name');

                if (userData.isLoggedIn) {
                    const loginButton = document.querySelector('.login-button');
                    loginButton.style.display = 'none'; 
                    userNameDisplay.textContent = userData.userName; 
                    userNameDisplay.style.display = 'inline-block';
                } else {
                    userNameDisplay.style.display = 'none'; 
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            const logoutButton = document.getElementById('logout-button');
            logoutButton.addEventListener('click', function() {
                logoutUser();
            });
        });

        function logoutUser() {
            fetch('/logout', {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/';
                } else {
                    console.error('로그아웃 실패');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <div id="header-container"></div>

    <main>
        <div class="mypage_nav">
            <a class="mypage_text" href="mypage">마이페이지</a>
            <ul>
                <li><a id="userinfo-btn" href="#">회원정보수정</a></li>
                <li><a id="contents-btn" href="contents">추천 콘텐츠</a></li>
                <li><a id="help-btn" href="help">고객센터</a></li>
                <li><button id="logout-button">로그아웃</button></li>
            </ul>
        </div>

        <div class="help-container">
            <div class="help_text1">
                <h1>고객센터</h1>
                <p id="help1">도움이 필요하신가요?</p>
                <p id="help2">평일 09:00 - 18:00</p>
                <p id="help3">점심시간 12:00 - 13:00 / 주말 공휴일 휴무</p>
            </div>
            <div class="help_btn">
                <button class="button">📞 전화 상담하기</button>
                <button class="button">📝 문의 남기기</button>
            </div>
            <div class="help_text2">
                <p>2018년 10월 18일부터 산업안전보건법 제 26조의2제1항에 따라 고객응대근로자에게 폭언을 하는 것이 금지됩니다.</p>
            </div>
        </div>

    </main>

    <footer>
        <p>하우스헌터</p>
        <p>고객센터 02-111-2222</p>
    </footer>

    <script src="main.js"></script> <!-- main.js 파일 추가 -->
</body>
</html>