<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunter Mypage</title>
    <link rel="stylesheet" href="/stylesheets/mypage.css">
    <script>
        function loadHeader() {
            fetch('/header') 
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-container').innerHTML = data;
                    const loginButton = document.getElementById('login-button');
                    if (loginButton) {
                        loginButton.addEventListener('click', loginUser);
                    }
                    updateUI();
                })
                .catch(error => console.error('Error:', error));
        }

        function loadFooter() {
            fetch('/footer') 
                .then(response => response.text())
                .then(data => {
                    document.getElementById('footer-container').innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
        }

        window.onload = function() {
            loadHeader();
            loadFooter();
        }

        document.addEventListener('DOMContentLoaded', function() {
            loadUser();

            const logoutButton = document.getElementById('logout-button');
            logoutButton.addEventListener('click', function() {
                logoutUser();
            });
        });

        function logoutUser() {
            fetch('/logout', {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/';
                } else {
                    console.error('로그아웃 실패');
                }
            })
            .catch(error => console.error('Error:', error));
        }
        
        async function loadUser() {
            try {
                const response = await fetch('/check-login'); 
                const result = await response.json();

                if (result.isLoggedIn) { 
                    const response = await fetch('/loaduser'); 
                    const userData = await response.json();

                    if (userData.userName) {
                        const userNameElement = document.getElementById('userName');
                        userNameElement.textContent = userData.userName; 
                    } else {
                        console.error('사용자 정보가 없습니다.');
                    }
                } else {
                    console.error('사용자가 로그인하지 않았습니다.');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
        
        async function updateUI() {
            try {
                const response = await fetch('/check-login');
                const userData = await response.json();
                const userNameDisplay = document.querySelector('.user-name');

                if (userData.isLoggedIn) {
                    const loginButton = document.querySelector('.login-button');
                    loginButton.style.display = 'none'; 
                    userNameDisplay.textContent = userData.userName; 
                    userNameDisplay.style.display = 'inline-block';
                } else {
                    userNameDisplay.style.display = 'none'; 
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function goToLikePage() {
            window.location.href = '/like';
        }

        function goToRecentlyPage(){
            window.location.href ='/recently';
        }
    </script>
</head>
<body>
    <div id="header-container"></div>

    <main>
        <div class="mypage_nav">
            <a class="mypage_text" href="mypage">마이페이지</a>
            <ul>
                <li><a id="userinfo-btn" href="userinfo">회원 정보 수정</a></li>
                <li><a id="contents-btn" href="contents">추천 콘텐츠</a></li>
                <li><a id="help-btn" href="help">고객센터</a></li>
                <li><button id="logout-button">로그아웃</button></li>
            </ul>
        </div>

        <div class="mypage-container">
            <div class="mypage">
                <img src="/image/user.png">
                <div class="mypage_layout">
                    <h2 id="userName">{{ userName }}</h2>
                    <h2>님의 마이페이지</h2>
                </div>
            </div>
            <div class="mypage_btn">
                <button class="button" onclick="goToRecentlyPage()">최근 본 집</button>
                <button class="button" onclick="goToLikePage()">찜한 집</button>
            </div>
        </div>
    </main>

    <div id="footer-container"></div>

</body>
</html>
