<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunter</title>
    <link rel="stylesheet" href="/stylesheets/roomdetail.css">
    <script>
        function loadHeader() {
            fetch('/header') 
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-container').innerHTML = data;
                    updateUI();
                })
                .catch(error => console.error('Error:', error));

            document.getElementById('login-button').addEventListener('click', loginUser);
        }

        window.onload = loadHeader;

        async function updateUI() {
            try {
                const response = await fetch('/check-login');
                const userData = await response.json();
                const userNameDisplay = document.querySelector('.user-name');

                if (userData.isLoggedIn) {
                    const loginButton = document.querySelector('.login-button');
                    loginButton.style.display = 'none'; 
                    userNameDisplay.textContent = userData.userName; 
                    userNameDisplay.style.display = 'inline-block';
                } else {
                    userNameDisplay.style.display = 'none'; 
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>
</head>
<body>
    <div id="header-container"></div>

    <main>
        <div class="content">
            <div class="image-gallery">
                <img src="image1.jpg" alt="Image 1">
                <img src="image2.jpg" alt="Image 2">
            </div>

        </div>

        <div class="room">
            <div class="room-container">
                <div class="room-title">
                    <h2>방유형 보증금/월세</h2> 
                </div>
                <div class="room-info">
                    <img src="image/type.png" alt="Room Type">
                    <p>Room Type : </p>
                    &nbsp;&nbsp;
                    <p>  type</p>
                </div>
                <div class="room-info">
                    <img src="image/size.png" alt="Room Size">
                    <p>Room Size : </p>  
                    &nbsp;&nbsp;
                    <p>  Size</p>
                </div>
                <div class="room-info">
                    <img src="image/elevator.png" alt="Elevator">
                    <p>  Elevator :</p>
                    &nbsp;&nbsp;
                    <p>yes</p>
                </div>
                <div class="room-info">
                    <img src="image/money.png" alt="money">
                    <p>  Money :</p>
                    &nbsp;&nbsp;
                    <p>money</p>
                </div>
                <div class="room-info">
                    <button class="like-button"></button>
                    <div class="phone">전화번호</div>
                </div>
            </div>
    
            <div class="detail-content">
                <div class="detail-container">
                    <div class="room-price">
                        <h2>가격정보</h2>
                    </div>
                    <div class="room-price">
                        <p>월세</p>
                        &nbsp;&nbsp;
                        <p2>0원</p2>
                    </div>
    
                    <div class="room-price">
                        <p>관리비</p>
                        &nbsp;&nbsp;
                        <p2>0원</p2>
                    </div>
    
                    <div class="room-price">
                        <p>주차가능여부</p>
                        &nbsp;&nbsp;
                        <p2>가능</p2>
                    </div>
                </div>
                <div class="horizontal-line"></div>  
                <div class="detail-container">
                    <div class="room-price">
                        <h2>상세정보</h2>
                    </div>
                    <div class="room-price">
                        <p>방종류</p>
                        &nbsp;&nbsp;
                        <p2>00</p2>
                    </div>
    
                    <div class="room-price">
                        <p>해당층/건물층</p>
                        &nbsp;&nbsp;
                        <p2>0층/0층</p2>
                    </div>
    
                    <div class="room-price">
                        <p>방 수/ 욕실 수</p>
                        &nbsp;&nbsp;
                        <p2>0개/ 0개</p2>
                    </div>
                    <div class="room-price">
                        <p>앨레베이터</p>
                        &nbsp;&nbsp;
                        <p2>있음</p2>
                    </div>
                    <div class="room-price">
                        <p>총 세대 수</p>
                        &nbsp;&nbsp;
                        <p2>00세대</p2>
                    </div>
                    <div class="room-price">
                        <p>총 주차대수</p>
                        &nbsp;&nbsp;
                        <p2>0개</p2>
                    </div>
                    <div class="room-price">
                        <p>입주가능일</p>
                        &nbsp;&nbsp;
                        <p2>즉시입주</p2>
                    </div>
                </div>
                <div class="horizontal-line"></div>  
            </div>
        </div>
    </main>
    <footer>
        <p>하우스헌터</p>
        <p>고객센터 02-111-2222</p>
    </footer>
</body>
</html>
