
/* 메인 내용 스타일 */
main {
    width:100%;
    height: 800px;
    overflow: hidden;
}

.mypage_nav {
    float: left;
    margin: 80px 0 0 80px;  
}

.mypage_text {
    font-family: "Black Han Sans", sans-serif;
    font-size: 30px;
    color: black;
    display: block;
    padding: 0 30px 20px 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #c9c9c9;
}

.mypage_nav > ul {
    display: block;
}

.mypage_nav > ul > li{
    margin-bottom: 30px;
}

.mypage_nav > ul > li:last-child{
    margin-bottom: 0;
}

.mypage_nav > ul > li > a{
    font-family: "Black Han Sans", sans-serif;
    font-size: 20px;
    color: black;
}

.mypage_nav > ul > li > button {
    font-family: "Black Han Sans", sans-serif;
    font-size: 20px;
    color: black; 
    border: none;
    background-color: white;
    cursor: pointer;
}

#help-btn {
    color: #EA3945;
}

.help-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.help_text1 {
    width: 400px;
    margin: 80px auto 0 auto;
}

.help_text1 > h1 {
    text-align: center;
    font-family: "Black Han Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
    color: #EA3945;
}

.help_text1 > #help1 {
    display: block;
    font-family: "Black Han Sans", sans-serif;
    margin-bottom: 10px;
    padding:0 0 20px 5px;
    border-bottom: 2px solid #EA3945;
}

.help_text1 > #help2 {
    display: block;
    font-family: "Black Han Sans", sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    padding:10px 0 5px 5px;
}

.help_text1 > #help3 {
    display: block;
    font-family: "Black Han Sans", sans-serif;
    margin-bottom: 10px;
    padding:0 0 10px 5px;
}

.help_btn {
    display: flex;
    width: 340px;
    margin: 20px auto;
}

.button {
    font-family: "Black Han Sans", sans-serif;
    background-color: white;
    color: #EA3945;
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin: 0 10px;
    border: 2px solid #EA3945;
    border-radius: 5px;
    cursor: pointer;
}

.help_text2 {
    margin: 10px auto 0 auto;
}

.help_text2 > p {
    display: block;
    font-family: "Black Han Sans", sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    color: #c9c9c9;
}

/* 미디어 쿼리 */
@media screen and (max-width: 500px) {
    /* 화면 너비가 500px 이하일 때의 스타일 */
    header, footer {
        padding: 5px;
        margin: 0 auto;
        width: fit-content;
    }
    main {
        padding: 10px;
        margin: 0 auto;
        width: fit-content;
    }

    .image-overlay img {
        max-width: 100%; 
        height: auto; 
    }
}
