.login-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
}

.login-title {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #EA3945;
    text-align: center;
    font-size: 25px;
    font-family: "Black Han Sans", sans-serif;
}

.form-field {
    margin-bottom: 30px;
    position: relative;
}

.id, .password {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #000000;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 100%;
    height: auto;
}

.login {
    background-color: transparent;
    border: none;
    border: 2px solid #EA3945;
    border-radius: 0;
    color: #EA3945;
    font-weight: bold;
    font-family: "Black Han Sans", sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 100%;
    height: auto;
}

.join {
    background-color: transparent;
    border: none;
    border: 2px solid #EA3945;
    border-radius: 0;
    color: #EA3945;
    font-weight: bold;
    font-family: "Black Han Sans", sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 100%;
    height: auto;
    margin-top: 30px;
}
