.login-container {
    width: 500px;
    margin: 150px auto 200px auto;
    padding: 20px;
}

.login-title {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #EA3945;
    text-align: center;
    font-size: 25px;
    font-family: "Black Han Sans", sans-serif;
}

.form-field {
    margin-bottom: 30px;
    position: relative;
}

.id, .password {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #000000;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 100%;
    height: auto;
}

.login {
    background-color: transparent;
    border: none;
    border: 2px solid #EA3945;
    border-radius: 0;
    color: #EA3945;
    font-weight: bold;
    font-family: "Black Han Sans", sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 100%;
    height: auto;
}

.join {
    background-color: transparent;
    border: none;
    border: 2px solid #EA3945;
    border-radius: 0;
    color: #EA3945;
    font-weight: bold;
    font-family: "Black Han Sans", sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

/* 미디어 쿼리 */
@media screen and (max-width: 500px) {
    /* 화면 너비가 500px 이하일 때의 스타일 */
    header, footer {
        padding: 5px;
        margin: 0 auto;
        width: fit-content;
    }
    main {
        padding: 10px;
        margin: 0 auto;
        width: fit-content;
    }

    .image-overlay img {
        max-width: 100%; 
        height: auto; 
    }
}