main {
    width:100%;
    overflow: hidden;
}

.rtype_layout {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 80px;
}

.rtype_btn {
    font-family: "Black Han Sans", sans-serif;
    background-color: white;
    color: black;
    width: 270px;
    height: 210px;
    font-size: 30px;
    font-weight: bold;
    text-align: left; 
    padding: 30px 80px 120px 30px; 
    margin: 30px 10px 10px 10px;
    box-sizing: border-box;
    border: 2px solid #EA3945;
    border-radius: 5px;
    cursor: pointer;
}

.rtype-container {
    position: relative; 
    display: inline-block; 
}

.image-overlay {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    width: 80px; 
    height: 80px; 
    margin: 30px;
}

.image-overlay img {
    max-width: 100%; 
    height: auto; 
}

.ai_layout {
    font-family: "Black Han Sans", sans-serif;
    display: flex;
    margin: 0 140px 40px 140px; 
    height: 400px;
    border-bottom: 1px solid #c9c9c9;
}

.ai_layout h2 {
    margin-left: 10px; 
}

#ai {
    color: #EA3945;
}

.event_layout {
    font-family: "Black Han Sans", sans-serif;
    margin: 0 140px 80px 140px; 
    text-align: center;
}

.event_layout h2 {
    text-align: left;
    margin-left: 10px; 
    margin-bottom: 30px; 
}

.event {
    margin-bottom: 20px;
}

/* 푸터 스타일 */
footer {
    height: 80px;
    font-family: "Black Han Sans", sans-serif;
    background-color: #c9c9c9;
    color: #fff;
    text-align: left;
    padding: 40px 0 0 80px;
}

footer p {
    margin-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
}

/* 미디어 쿼리 */
@media screen and (max-width: 500px) {
    /* 화면 너비가 500px 이하일 때의 스타일 */
    header, footer {
        padding: 5px;
        margin: 0 auto;
        width: fit-content;
    }
    main {
        padding: 10px;
        margin: 0 auto;
        width: fit-content;
    }

    .image-overlay img {
        max-width: 100%; 
        height: auto; 
    }
}
