.map {
    width: 1125px; 
    height: 600px; 
    margin: 5px auto 50px auto;
}

.container > h1 {
    width: 1100px;
    font-family: "Black Han Sans", sans-serif;
    font-size: 30px;
    color: #EA3945;
    display: block;
    padding: 0 20px 15px 5px;
    margin: 25px 0 20px 150px;
    border-bottom: 1px solid #c9c9c9;
}

.filter-container {
    margin: 10px 0 20px 155px;
    display: flex;
    overflow-x: auto;
}

.filter-container .filter {
    flex: 0.2; 
}

.filter-container button {
    font-family: "Black Han Sans", sans-serif;
    background-color: white;
    color: #EA3945;
    width: 80%; 
    height: 28px;
    border: 2px solid #EA3945;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

#applyRoomTypesButton {
    background-color: #EA3945;
    color: white;
}

.filter-content {
    /* display: none; */
    margin: 10px 0 0 10px;
    font-family: "Black Han Sans", sans-serif;
}

.filter-content p {
    display: block;
    margin: 5px 0;
}

.filter-content.roomfilter-content label {
    display: block;
    margin: 10px 0 10px 0;
}

