<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HouseHunter</title>
    <link rel="stylesheet" href="public/stylesheets/main.css">
</head>
<body>
    <header>
        <h1 class="logo">
            <a href="#"><img src="public/image/househunter_logo.png"/></a>
        </h1>
        <div class="nav">
            <ul>
                <li><a href="#">관심목록</a></li>
                <li><a href="#">지도</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
            <button class="login-button">로그인</button>
        </div>
    </header>

    <main>
        <div class="rtype_layout">
            <div class="rtype-container">
                <a href="#"><button class="rtype_btn">원룸</button></a>
                <img class="image-overlay" src="public/image/room1.gif" alt="room1">
            </div>
            <div class="rtype-container">
                <a href="#"><button class="rtype_btn">투룸, 쓰리룸</button></a>
                <img class="image-overlay" src="public/image/room2.gif" alt="room2">
            </div>
            <div class="rtype-container">
                <a href="#"><button class="rtype_btn">오피스텔</button></a>
                <img class="image-overlay" src="public/image/officetel.gif" alt="officetel">
            </div>
            <div class="rtype-container">
                <a href="#"><button class="rtype_btn">아파트</button></a>
                <img class="image-overlay" src="public/image/apartment.gif" alt="apartment">
            </div>
        </div>
        <div class="ai_layout">
            <h2>💡 AI가 추천해주는</h2>
            <h2 id="ai">00구</h2>
            <h2>집</h2>
        </div>
        <div class="event_layout">
            <h2>💌 이벤트</h2>
            <a href="#"><img class="event" src="public/image/event1.png"/></a>
            <a href="#"><img class="event" src="public/image/event2.png"/></a>
        </div>
    </main>

    <footer>
        <p>하우스헌터</p>
        <p>고객센터 02-111-2222</p>
    </footer>

    <script src="main.js"></script> <!-- main.js 파일 추가 -->
</body>
</html>
